---
Language: Cpp
BasedOnStyle: LLVM

# Base formatting

IndentWidth: 2
UseTab: Never
ColumnLimit: 100

# Braces and layout

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false

# Types and pointers

PointerAlignment: Right
DerivePointerAlignment: false

# Indentation of preprocessor directives

IndentPPDirectives: None

# Alignment

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignOperands: Align
AlignTrailingComments: true

# Includes

SortIncludes: false
IncludeBlocks: Preserve

# Spaces

SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
...
